.headline {
    align-self: center;
}

.headline a {
    text-decoration: none;
    color: black;
}

.searchBar {
    margin-right: 20px;
    margin-left: 20px;
}

.d-flex {
    background-color: white !important;
}

.square {
    width: 250px;
    height: 250px;
}

.city {
    text-align: center;
}

.sun {
    min-width: 250px;
    min-height: 250px;
    background: url('sun.jpg');
    background-size: 250px 250px;
}

.rain {
    min-width: 250px;
    min-height: 250px;
    background: url('rain.jpg');
    background-size: 250px 250px;
}

.cloud {
    min-width: 250px;
    min-height: 250px;
    background: url('cloud.jpg');
    background-size: 250px 250px;
}